<app-alertas *ngIf="mensagemCadastro" tipo="sucesso">
  Cliente <strong>{{ cliente?.nome }}</strong> cadastrado com sucesso!
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</app-alertas>

<app-cliente-novo (onSubmit)="onNovoCliente($event)"></app-cliente-novo>

<h2>Listagem de nossos clientes:</h2>

<table class="table">
  <tr>
    <th>Nome</th>
    <th>Saldo</th>
    <th>Data</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let c of clienteService.clientes">
    <td>{{ c.nome }}</td>
    <td [appSaldoColor]="c.saldo">{{ c.saldo }}</td>
    <td>{{ c.data }}</td>
    <td>
      <a href="javascript:void(0)" (click)="editarCliente(cliente)">Editar</a>
      |
      <a href="javascript:void(0)" (click)="excluirCliente(cliente)">Excluir</a>
    </td>
  </tr>
</table>


<app-modal-confirmacao titulo="Excluir cliente?" mensagem="Deseja realmente excluir {{cliente.nome}}"></app-modal-confirmacao>
